name: Deploy documentation to GitHub Pages

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
     
      - name: Install MkDocs
        run: python3 -m pip install -r requirements.txt     

      - name: Download & install LLVM
        run: |
          mkdir -p llvm
          wget -q https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04.tar.xz -O llvm.tar.xz
          tar -xf llvm.tar.xz -C llvm --strip-components=1
          LLVM_PATH="${GITHUB_WORKSPACE}/llvm"
          echo "LLVM_SYS_170_PREFIX=$LLVM_PATH" >> $GITHUB_ENV

      - name: Download Fixlang
        uses: actions/checkout@v3
        with:
          repository: tttmmmyyyy/fixlang
          path: fixlang

      - name: Install Fixlang
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --locked --path fixlang

      - name: Install dependencies
        run: |
          # Required for gmp-fix and mpfr-fix
          sudo apt-get update
          sudo apt-get install -y libgmp-dev libmpfr-dev

      - name: Build Markdown files
        run: fix run

      - name: Build HTML files
        run: mkdocs build --verbose --clean
     
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./site
